obj
bin
*.ReSharper.user
_ReSharper.*
*.resharper
*.pubxml.user
*.csproj.user
*.vbproj.user
*.suo
*.cache
*.DotSettings
*.DotSettings.user
packages

PackageCache/
build/
statistics.log
AssemblyVersion.cs

*.sublime-workspace
