obj
bin
*.ReSharper.user
_ReSharper.*
*.resharper
*.csproj.user
*.vbproj.user
*.suo
*.cache
*.DotSettings
*.DotSettings.user

AssemblyVersion.cs

/packages
/node_modules
/.vs/

/NuCache/cache/
/NuCache/logs/
/NuCache/stats.json
/NuCache/client/static
